@charset "UTF-8";

/* Анулювання стандартних відступів в браузері */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.image-slider {
  padding: 30px 0;
  margin: 0 0 70px 0;
}

.image-slider__slide {
  display: inline-block;
  padding: 0 70px;
}

.image-slider__image {
  width: 50%;
  float: left;
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider__body {
  width: 50%;
  float: right;
  padding: 5px 0 0 25px;
  text-align: left;
}

.image-slider__line {
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0.5em;
  display: inline-block;
  color: #999;
  position: relative;
  padding-left: 3em;
  -moz-text-align-last: left;
       text-align-last: left;
}

.image-slider__line:after {
  content: "";
  position: absolute;
  left: -0em;
  top: 50%;
  height: 4px;
  width: 2.4em;
  background: #e85d04;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

hr {
  margin: 0.5em 0em;
  height: 4px;
  background: #eee;
  border: none;
}

.image-slider__title {
  font-size: 36px;
  color: #e9c46a;
  text-transform: uppercase;
  -moz-text-align-last: left;
       text-align-last: left;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.image-slider__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #ffbe0b;
  font-size: 80px;
  font-weight: 500;
}

.image-slider .swiper-pagination {
  bottom: 0;
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #e85d04;
}

.Phone {
  position: relative;
  display: block;
  margin: -8.5px 0 0 0;
  width: 1em;
  height: 1em;
  font-size: 34px;
  background-color: #3498db;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
          transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
  -webkit-animation: phone-outer 3000ms infinite;
          animation: phone-outer 3000ms infinite;
}

.Phone.is-animating::before {
  -webkit-animation: phone-inner 3000ms infinite;
          animation: phone-inner 3000ms infinite;
}

.Phone.is-animating::after {
  -webkit-animation: phone-icon 3000ms infinite;
          animation: phone-icon 3000ms infinite;
}

@-webkit-keyframes phone-outer {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }

  33.3333% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
            transform: translate3d(0, 0, 0) scale(1.1);
    -webkit-box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  }

  66.6666% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
}

@keyframes phone-outer {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }

  33.3333% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
            transform: translate3d(0, 0, 0) scale(1.1);
    -webkit-box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  }

  66.6666% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes phone-inner {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }

  33.3333% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0.9);
            transform: translate3d(0, 0, 0) scale(0.9);
  }

  66.6666% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }

  33.3333% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0.9);
            transform: translate3d(0, 0, 0) scale(0.9);
  }

  66.6666% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
}

@-webkit-keyframes phone-icon {
  0% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }

  2% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  4% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  6% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  8% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  10% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  12% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  14% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  16% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  18% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  22% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  24% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  26% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  28% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  32% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  34% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  36% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  38% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  42% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  44% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  46% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
}

@keyframes phone-icon {
  0% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }

  2% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  4% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  6% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  8% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  10% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  12% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  14% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  16% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  18% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  20% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  22% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  24% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  26% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  28% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  32% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  34% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  36% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  38% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  42% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }

  44% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }

  46% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
}

.sevices {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0 0 0;
}

.sevices-container {
  margin: 0px auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.no-webp .sevices__images{
  background: url(../img/services-1.jpg); }

.sevices__images {
  border-bottom-right-radius: 7.5%;
  -webkit-box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
          box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
}

.no-webp .sevices__images-2{
  background: url(../img/services-2.jpg); }

.sevices__images-2 {
  border-top-left-radius: 7.5%;
  border-bottom-left-radius: 7.5%;
  -webkit-box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
          box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
}

.no-webp .sevices__images-3{
  background: url(../img/services-3.jpg); }

.sevices__images-3 {
  border-bottom-right-radius: 7.5%;
  border-top-right-radius: 7.5%;
  -webkit-box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
          box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
}

.no-webp .sevices__images-4{
  background: url(../img/services-4.jpg); }

.sevices__images-4 {
  border-top-left-radius: 7.5%;
  -webkit-box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
          box-shadow: 4px 4px 30px 0 rgba(55, 6, 23, 0.5);
}

.services__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 50px 50px;
  margin: 50px 0 50px 148px;
  min-width: 600px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #e9c46a;
  border-bottom: 2px solid #e9c46a;
  border-left: 2px solid #e9c46a;
}

.services__image img {
  max-width: 100%;
}

.services__image-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 50px 50px;
  margin: 50px 148px 50px 0;
  min-width: 600px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #e9c46a;
  border-bottom: 2px solid #e9c46a;
  border-right: 2px solid #e9c46a;
}

.services__image-1 img {
  max-width: 100%;
}

.services__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 0 0 20px 0;
  text-align: left;
  color: #fefefe;
}

.services__text {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 35px;
  margin: 20px 0;
  text-align: left;
  color: #fefefe;
}

.services__contb {
  padding: 0 148px 0 0;
}

.services__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 40px 50px;
  margin: 50px 0;
  min-width: 600px;
  min-height: 600px;
  text-align: left;
  border-top: 2px solid #e9c46a;
  border-bottom: 2px solid #e9c46a;
  border-right: 2px solid #e9c46a;
}

.services__contb-1 {
  padding: 0 0 0 148px;
}

.services__body-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 40px 50px;
  margin: 50px 0;
  min-width: 600px;
  min-height: 600px;
  text-align: left;
  border-top: 2px solid #e9c46a;
  border-bottom: 2px solid #e9c46a;
  border-left: 2px solid #e9c46a;
}

.services__subtitle {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 26px;
  text-align: left;
}

.services__list {
  margin: 20px 0 0 0;
}

.services__list li {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 20px;
  background: url("../img/icons/check.svg") 0 1px/14px no-repeat;
  font-size: 14px;
}

.services__list li:last-child {
  margin: 0;
}

.services__form {
  padding: 50px 0 20px 0;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.services__form input[type=submit] {
  height: 40px;
  line-height: 21px;
  margin: 35px 0 0 0;
  padding: 10px 40px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #e07a5f;
  border: 1px solid #e07a5f;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fefefe;
}

.services__form input[type=submit]:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: inset hoff voff blur #000;
          box-shadow: inset hoff voff blur #000;
  background: transparent;
  border-radius: 5%;
  color: #e07a5f;
}

.services__click {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-align: left;
  color: #e07a5f;
}

.services__small-text {
  font-size: 13.5px;
  font-weight: 500;
  line-height: 21.5px;
  margin: 3px 0 0 0;
  text-align: left;
}

.services__small-text p {
  margin: 0 0 15px 0;
}

/*
* field
*/

/* reset */

.field {
  --uiFieldPaddingTop: var(--fieldPaddingTop, 0px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 0px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 0px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 0px);
  --uiFieldBorderColor: var(--fieldBorderColor, transpatent);
  --uiFieldBorderTop: var(--fieldBorderTop, 0px);
  --uiFieldBorderRight: var(--fieldBorderRight, 0px);
  --uiFieldBorderBottom: var(--fieldBorderBottom, 0px);
  --uiFieldBorderLeft: var(--fieldBorderLeft, 0px);
  --uiFieldBgColor: var(--fieldBgColor, transpatent);
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  --uiFieldAnimationDuration: var(--fieldAnimationDuration, .3s);
  --uiFieldFonstSize: var(--fieldFontSize, 16px);
  position: relative;
}

.field__input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--uiFieldBgColor);
  /* for iOS */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border-style: solid;
  border-color: var(--uiFieldBorderColor);
  border-top-width: var(--uiFieldBorderTop);
  border-right-width: var(--uiFieldBorderRight);
  border-bottom-width: var(--uiFieldBorderBottom);
  border-left-width: var(--uiFieldBorderLeft);
  padding-top: var(--uiFieldPaddingTop);
  padding-right: var(--uiFieldPaddingRight);
  padding-bottom: var(--uiFieldPaddingBottom);
  padding-left: var(--uiFieldPaddingLeft);
  font-family: inherit;
  font-size: 100%;
  color: inherit;
}

.field__input::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
  opacity: 0;
}

.field__input:focus {
  outline: none;
}

.field__input:focus::-webkit-input-placeholder {
  -webkit-transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__input:focus::-moz-placeholder {
  -webkit-transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  -moz-transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  transition: opacity var(--uiFieldAnimationDuration) ease-out var(--uiFieldAnimationDuration);
  opacity: 1;
}

.field__label {
  position: absolute;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
  left: calc(0px + var(--uiFieldPaddingLeft) + var(--uiFieldBorderLeft));
  pointer-events: none;
  font-size: .9em;
  -webkit-transition: top var(--uiFieldAnimationDuration) cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-out;
  -o-transition: top var(--uiFieldAnimationDuration) cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-out;
  transition: top var(--uiFieldAnimationDuration) cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity var(--uiFieldAnimationDuration) ease-out;
  will-change: top, opacity;
}

.field__input:not(:-moz-placeholder-shown) ~ .field__label {
  opacity: 0;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
}

.field__input:not(:-ms-input-placeholder) ~ .field__label {
  opacity: 0;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
}

.field__input:not(:placeholder-shown) ~ .field__label {
  opacity: 0;
  top: calc(0px + var(--uiFieldPaddingTop) + var(--uiFieldBorderTop));
}

.field__input:focus ~ .field__label {
  opacity: 1;
  top: calc(-1 * calc(var(--uiFieldPaddingTop) + var(--uiFieldBorderTop) + 15px));
}

/* type 3 */

.field_type3 {
  --uiFieldBorderBottom: var(--fieldBorderBottom, 2px);
  --uiFieldPaddingTop: var(--fieldPaddingTop, 5px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 10px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);
}

.field_type3 .field__line {
  width: 100%;
  height: var(--uiFieldBorderBottom);
  position: absolute;
  bottom: 0;
  left: 0;
}

.field_type3 .field__line:before,
.field_type3 .field__line:after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--fieldBorderColorActive);
  position: absolute;
  bottom: 0;
  will-change: width;
  -webkit-transition: width var(--uiFieldAnimationDuration) ease-out;
  -o-transition: width var(--uiFieldAnimationDuration) ease-out;
  transition: width var(--uiFieldAnimationDuration) ease-out;
}

.field_type3 .field__line:before {
  left: 50%;
}

.field_type3 .field__line:after {
  right: 50%;
}

.field_type3 .field__input:focus ~ .field__line:before,
.field_type3 .field__input:focus ~ .field__line:after {
  width: 50%;
}

/*
 * demo styles
 */

.field {
  --fieldBorderColor: #e9c46a;
  --fieldBorderColorActive: #e85d04;
  --fieldPlaceholderColor: #b7b8bd;
  display: block;
  color: #b7b8bd;
}

.guarantee {
  margin: 50px 0 0 0;
  padding: 50px 0;
}

.guarantee__image {
  margin: 0 0 20px 0;
}

.guarantee__title {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

.guarantee__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22.5px;
}

.guarantee__column {
  padding: 0px 22.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guarantee__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.guarantee__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 32.5px;
  text-transform: uppercase;
  outline: none !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: block;
}

.guarantee__subtitle span {
  display: block;
  padding: 12.5px 0 7.5px 0;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c99866;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:before {
  height: 80%;
  width: 2px;
}

.btn:after {
  width: 20%;
  height: 2px;
}

.btn:hover:before {
  height: 100%;
}

.btn:hover:after {
  width: 100%;
}

.btn span:before,
.btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c99866;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn span:before {
  width: 2px;
  height: 80%;
}

.btn span:after {
  width: 20%;
  height: 2px;
}

.btn span:hover:before {
  height: 100%;
}

.btn span:hover:after {
  width: 100%;
}

.guarantee__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 20px 0;
}

.started {
  background: #242427;
  margin: 70px 0 0 0;
  padding: 50px 0;
}

.started__title {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 40px 0;
  color: #fefefe;
}

.started__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22.5px;
}

.started__column {
  padding: 0px 22.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.started__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.started__subtitle {
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fefefe;
}

.started__text {
  font-size: 14px;
  line-height: 22.75px;
  vertical-align: middle;
  margin: 20px 0;
  color: #fefefe;
  border: 1.75px solid #e9c46a;
  padding: 50px 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.started__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fefefe;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 22.5px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.no-webp .started__free{
  background: url("../img/icons/free.png") no-repeat; }

.started__free {
  padding: 0 0 0 30px;
}

.no-webp .started__time{
  background: url("../img/icons/time.png") no-repeat; }

.started__time {
  padding: 0 0 0 30px;
}

.started__btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 38px;
  font-size: 18px;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #cda771;
  border: 1px solid #e9c46a;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.started__btn:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: inset hoff voff blur #000;
          box-shadow: inset hoff voff blur #000;
  background: transparent;
  border-radius: 5%;
}

.started__btn a {
  display: block;
  padding: 2.5px 20px;
  color: #fefefe;
}

.started__btn a:hover {
  color: #e9c46a;
}

.no-webp .fullscreen2{
  background: url(../img/bg2.jpg) center/cover no-repeat fixed; }

.fullscreen2 {
  min-height: 100vh;
  background-color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.fullscreen2__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.fullscreen2__body .fullscreen2__title {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 52px;
  color: #fefefe;
  margin: 0 0 20px 0;
}

.fullscreen2__body .fullscreen2__text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22.75px;
  color: #fefefe;
  margin: 0 0 20px 0;
}

.fullscreen2__body .fullscreen2__link {
  line-height: 38px;
  margin: 30px 0 0 0;
  padding: 4px 27.5px;
  font-size: 18px;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: transparent;
  border: 1px solid #dfbb58;
  -webkit-box-shadow: inset hoff voff blur #000;
          box-shadow: inset hoff voff blur #000;
  color: #dfbb58;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.fullscreen2__body .fullscreen2__link:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #e07a5f;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fefefe;
  border: 1px solid #e07a5f;
  border-radius: 5%;
  overflow: hidden;
}

.contacts {
  background: #f7f7f7;
  padding: 30px 0;
}

.contscts__title {
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22.5px;
}

.contacts__column {
  padding: 0px 22.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 0px 20px 0px;
}

.contacts__item a {
  color: #cb997e;
  font-weight: 500;
}

.contacts__item a:hover {
  color: #fb8500;
  text-decoration: underline;
}

.no-webp .contacts__subtitle-1{
  background: url("../img/icons/call.png") 0 4px/22px no-repeat; }

.contacts__subtitle-1 {
  text-align: left;
  padding: 4px 0 7.5px 36px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 26px;
}

.contacts__subtitle-1 a {
  display: block;
}

.no-webp .contacts__subtitle-2{
  background: url("../img/icons/location.png") 0 4px/22px no-repeat; }

.contacts__subtitle-2 {
  text-align: left;
  padding: 4px 0 7.5px 36px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 24px;
}

.no-webp .contacts__subtitle-3{
  background: url("../img/icons/email.png") 0 4px/22px no-repeat; }

.contacts__subtitle-3 {
  text-align: left;
  padding: 4px 0 7.5px 36px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 24px;
}

.no-webp .contacts__subtitle-4{
  background: url("../img/icons/time-l.png") 0 4px/22px no-repeat; }

.contacts__subtitle-4 {
  text-align: left;
  padding: 4px 0 7.5px 36px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 24px;
}

.contacts__text {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 15px 0;
  line-height: 22.75px;
  padding: 0 0 0 45px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}

.form {
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
  padding: 30px 0;
}

.form * {
  outline: none;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.form__item {
  margin: 0 0 20px 0;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0 0 10px 0;
}

.form__input {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #ffd7ba;
          box-shadow: 0 0 15px #ffd7ba;
}

.form__input._error {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.options {
  padding: 10px 0 0 0;
}

.options__item {
  margin: 0 0 10px 0;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #023047;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.options__label::after {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #fb8500;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer;
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e07a5f;
  color: #f7f7f7;
  letter-spacing: 1px;
  padding: 0 20px;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0 0 0;
}

.file__preview img {
  max-width: 100%;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #023047;
  border-radius: 4px;
  margin: 0 10px 0 0;
}

.checkbox__label::after {
  content: "";
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #fb8500;
  border-radius: 4px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.checkbox__label a {
  color: #fb8500;
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: #e07a5f;
  color: #f7f7f7;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 0 #633427;
          box-shadow: 0 5px 0 #633427;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #8c2f39;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #633427;
          box-shadow: 0 2px 0 #633427;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: calc(16.75px + 1.25 * ((100vw - 320px) / 960));
  color: #023047;
}

.wrapper {
  min-height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin: 75px 0 75px 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header .header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__body .header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header .header__body .header__logo img {
  max-width: 100%;
  display: block;
}

.header .header__body .header__logo .header__burger {
  display: none;
}

.header .header__body .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header .header__body .header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header .header__body .header__list li .header__phone {
  background: -webkit-gradient(linear, left top, right top, from(#9e7537), color-stop(#fbd966), to(#9e7537));
  background: -o-linear-gradient(left, #9e7537, #fbd966, #9e7537);
  background: linear-gradient(to right, #9e7537, #fbd966, #9e7537);
  padding: 7.5px;
  margin: -8.5px 0 0 0px;
  color: #552c22;
}

.header .header__body .header__list li .header__link {
  color: #a8a8a8;
  text-transform: uppercase;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all 0.4s linear 0s;
  -o-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.header .header__body .header__list li .header__link:hover {
  color: #fefefe;
  -webkit-transition: all 0.4s linear 0s;
  -o-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.header .header__body .header__list li .header__link:nth-child(4) {
  color: #552c22;
}

.header__button {
  background: #dfbb58;
  padding: 14px 20px;
  min-width: 200px;
  display: inline-block;
  font-family: 'interstate', monospace;
  letter-spacing: 2px;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 50px -5px #dfbb58;
          box-shadow: 0 0 50px -5px #dfbb58;
  -webkit-transition: -webkit-box-shadow 6s;
  transition: -webkit-box-shadow 6s;
  -o-transition: box-shadow 6s;
  transition: box-shadow 6s;
  transition: box-shadow 6s, -webkit-box-shadow 6s;
}

.header__button:after,
.header__button:before {
  content: '';
  position: absolute;
  left: -50%;
  right: -50%;
  height: 0;
  padding-bottom: 200%;
  background: #deb954;
  mix-blend-mode: color-burn;
  top: 0;
  z-index: -1;
  border-radius: 230px;
  -webkit-transition: background 6s, -webkit-transform 2.5s;
  transition: background 6s, -webkit-transform 2.5s;
  -o-transition: transform 2.5s, background 6s;
  transition: transform 2.5s, background 6s;
  transition: transform 2.5s, background 6s, -webkit-transform 2.5s;
}

.header__button:after {
  -webkit-transform: translate3d(-5%, 6em, 0) rotate(-45deg);
          transform: translate3d(-5%, 6em, 0) rotate(-45deg);
}

.header__button:before {
  -webkit-transform: translate3d(5%, 6em, 0) rotate(0deg);
          transform: translate3d(5%, 6em, 0) rotate(0deg);
}

.header__button:hover,
.header__button:focus {
  -webkit-box-shadow: 0 0 50px -5px #af8a22;
          box-shadow: 0 0 50px -5px #af8a22;
}

.header__button:hover:before,
.header__button:hover:after,
.header__button:focus:before,
.header__button:focus:after {
  -webkit-transform: translate3d(0, -5em, 0) rotate(180deg);
          transform: translate3d(0, -5em, 0) rotate(180deg);
  background: #af8a22;
}

.arrow-down {
  margin: 20px 0;
}

.no-webp .fullscreen{
  background: url(../img/bg1.jpg) center/cover no-repeat fixed; }

.fullscreen {
  min-height: 100vh;
  background-color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.fullscreen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.fullscreen__body .fullscreen__title {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50.4px;
  color: #fefefe;
  margin: 0 0 20px 0;
}

.fullscreen__body .fullscreen__text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22.75px;
  color: #fefefe;
  margin: 0 0 20px 0;
}

.fullscreen__body .fullscreen__link {
  display: inline-block;
  line-height: 50px;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #bc6022;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 20px;
}

.footer {
  background-color: #242427;
}

.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__row .footer__text {
  color: #fefefe;
  font-size: 12px;
  letter-spacing: 0.3px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .header__body .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }

  .header__body .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__body .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__body .header__burger::before,
  .header__body .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__body .header__burger::before {
    top: 0;
  }

  .header__body .header__burger::after {
    bottom: 0;
  }

  .header__body .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__body .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__body .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__body .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #18b5a4;
    padding: 70px 10px 20px 10px;
  }

  .header__body .header__menu .header__list {
    display: block;
  }

  .header__body .header__menu .header__list li {
    margin: 0 0 20px 0;
  }

  .header__body .header__menu .header__list .header__link {
    font-size: 24px;
  }

  .header__body .header__menu.active {
    top: 0;
  }
}

.webp .sevices__images{ background: url(../img/services-1.webp); }

.webp .sevices__images-2{ background: url(../img/services-2.webp); }

.webp .sevices__images-3{ background: url(../img/services-3.webp); }

.webp .sevices__images-4{ background: url(../img/services-4.webp); }

.webp .started__free{ background: url(../img/icons/free.webp) no-repeat; }

.webp .started__time{ background: url(../img/icons/time.webp) no-repeat; }

.webp .fullscreen2{ background: url(../img/bg2.webp) center/cover no-repeat fixed; }

.webp .contacts__subtitle-1{ background: url(../img/icons/call.webp) 0 4px/22px no-repeat; }

.webp .contacts__subtitle-2{ background: url(../img/icons/location.webp) 0 4px/22px no-repeat; }

.webp .contacts__subtitle-3{ background: url(../img/icons/email.webp) 0 4px/22px no-repeat; }

.webp .contacts__subtitle-4{ background: url(../img/icons/time-l.webp) 0 4px/22px no-repeat; }

.webp .fullscreen{ background: url(../img/bg1.webp) center/cover no-repeat fixed; }